.sheet-tabs {
    display: flex;
    border-bottom: 2px solid #782e22;
    margin-bottom: 15px;
}

.sheet-tabs .item {
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.sheet-tabs .item.active {
    background: #782e22;
    color: white;
}