<form class="base-roll-dialog">
    <h2>{{title}}</h2>
    <div class="form-group">
        <button type="submit" name="roll">
            <i class="fas fa-dice-d8"></i> Roll
        </button>
    </div>
</form>